{{ include('base_user.html.twig') }}

<div class="col-md-12 error_block">
        <h2>Merci</h2>
        <p>Vous avez acheter un abonnement {{ type }}  pour votre enfant {{ enfant.nom }} </p>
        <a class="button" href="#">Accueil</a>
</div>
