<div class="row">
    {% if facebook is not sameas(false) %}
        <div class="col-md-4 facebookButton ">
            {{ facebookButton(facebook) }}
        </div>
    {% endif %}

    {% if googleplus is not sameas(false) %}
        <div class="col-md-4 googleplus">
            {{ googlePlusButton(googleplus) }}
        </div>
    {% endif %}

    {% if twitter is not sameas(false) %}
        <div class="col-md-4 twitterButton">
            {{ twitterButton(twitter) }}
        </div>
    {% endif %}
</div>
